.list-portfolio{
    margin-top: 48px;

    .section-header{
        margin-bottom: 24px;

        h2 {
            margin: 0 0 24px;
            font-size: 2.5rem;
            line-height: 1.1em;
            color: $color-primary;
        }
    }

    .section-content{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        .card-portfolio{
            width: calc(65% - 14px);
            flex-shrink: 0;

            &.portrait{
                width: calc(35% - 10px);
            }
        }
    }
}

.list-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}