$color-primary: #01161E;
$color-secondary: #124559;
$color-white: #fefefe;

$screen-xl: 'only screen and (min-width:1600px)';
$screen-lg: 'only screen and (min-width:1200px)';
$screen-md: 'only screen and (min-width:992px)';
$screen-sm: 'only screen and (min-width:768px)';
$screen-xs: 'only screen and (min-width:480px)';