.page-title {
    margin-top: 48px;

    h1 {
        margin: 0;
        font-size: 4rem;
        line-height: 1.1em;
        color: $color-primary;
    }

    p {
        max-width: 730px;
        margin: 16px 0 0;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5em;
        color: #2b2b2b;

        a {
            display: inline;
            color: $color-tertiary;

            &[href]{
                transition: color 300ms ease-in-out;

                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }
}